

html{
     
     height: 100%;
    margin: 0;
}

head {

  
}
body{
  margin: 0;
background: teal;
  height: 100%;
  width: 100%;
}

.table {
  background-color: black;
  top: 60px;
  bottom: 20px;
  height: 100%;
  width: 100%;
}

.tableRow{
  height: 33.3%;
  width: 100%;
}


.tableRow button{
  font-size: 30px;
  height: 100%;
  width: 33.3%;
  background-color: gray;
  border: 1px solid black;
  padding: 10px, 20px;
  color: white;
  cursor: pointer;
  float: left;
}

.tableRow button:not(:last-child) {
    border-right: none; 
}
